game "advmame/1942" "Arcade" "" 0 0 ""
game "advmame/1943" "Arcade" "" 0 0 ""
game "advmame/acpsx" "Arcade" "" 0 0 ""
game "advmame/ar_bios" "Arcade" "" 0 0 ""
game "advmame/atetris" "Arcade" "" 0 0 ""
game "advmame/atluspsx" "Arcade" "" 0 0 ""
game "advmame/atpsx" "Arcade" "" 0 0 ""
game "advmame/bbmanw" "Arcade" "" 0 0 ""
game "advmame/bublbobl" "Arcade" "" 0 0 ""
game "advmame/cabal" "Arcade" "" 0 0 ""
game "advmame/cabalbl" "Arcade" "" 0 0 ""
game "advmame/cpzn1" "Arcade" "" 0 0 ""
game "advmame/cpzn2" "Arcade" "" 0 0 ""
game "advmame/crysbios" "Arcade" "" 0 0 ""
game "advmame/cvs" "Arcade" "" 0 0 ""
game "advmame/ddonpach" "Arcade" "" 0 0 ""
game "advmame/decocass" "Arcade" "" 0 0 ""
game "advmame/dkong" "Arcade" "" 0 0 ""
game "advmame/galaga" "Arcade" "" 0 0 ""
game "advmame/gng" "Arcade" "" 0 0 ""
game "advmame/hng64" "Arcade" "" 0 0 ""
game "advmame/konamigv" "Arcade" "" 0 0 ""
game "advmame/konamigx" "Arcade" "" 0 0 ""
game "advmame/kungfum" "Arcade" "" 0 0 ""
game "advmame/macsbios" "Arcade" "" 0 0 ""
game "advmame/megaman2" "Arcade" "" 0 0 ""
game "advmame/megaplay" "Arcade" "" 0 0 ""
game "advmame/megatech" "Arcade" "" 0 0 ""
game "advmame/mpatrol" "Arcade" "" 0 0 ""
game "advmame/neogeo" "Arcade" "" 0 0 ""
game "advmame/nss" "Arcade" "" 0 0 ""
game "advmame/pacland" "Arcade" "" 0 0 ""
game "advmame/pang" "Arcade" "" 0 0 ""
game "advmame/pbaction" "Arcade" "" 0 0 ""
game "advmame/pbobblen" "Arcade" "" 0 0 ""
game "advmame/pcktgal" "Arcade" "" 0 0 ""
game "advmame/pgm" "Arcade" "" 0 0 ""
game "advmame/playch10" "Arcade" "" 0 0 ""
game "advmame/psarc95" "Arcade" "" 0 0 ""
game "advmame/puckman" "Arcade" "" 61 1 ""
game "advmame/puzznic" "Arcade" "" 0 0 ""
game "advmame/rainbow" "Arcade" "" 0 0 ""
game "advmame/rtype" "Arcade" "" 0 0 ""
game "advmame/rtype2" "Arcade" "" 0 0 ""
game "advmame/sboblbob" "Arcade" "" 0 0 ""
game "advmame/shanghai" "Arcade" "" 0 0 ""
game "advmame/shdancer" "Arcade" "" 0 0 ""
game "advmame/shinobi" "Arcade" "" 0 0 ""
game "advmame/silkworm" "Arcade" "" 0 0 ""
game "advmame/skns" "Arcade" "" 0 0 ""
game "advmame/stvbios" "Arcade" "" 0 0 ""
game "advmame/taitofx1" "Arcade" "" 0 0 ""
game "advmame/tnzs" "Arcade" "" 63 1 ""
game "advmame/tps" "Arcade" "" 0 0 ""
game "uae/PinballDreams" "Amiga" "" 225 0 "PinballDreams"
game "uae/PinballFantasies" "Amiga" "" 225 0 "PinballFantasies"
game "uae/PinballIllusions" "Amiga" "" 225 0 "PinballIllusions"
game "uae/GreatGianaSisters" "Amiga" "" 0 0 "GreatGianaSisters"
game "uae/ProjectX" "Amiga" "" 0 0 "ProjectX"
game "uae/Superfrog" "Amiga" "" 0 0 "Superfrog"
