debug_crash yes
debug_rawsound no
debug_speedmark no
device_color_bgr15 yes
device_color_bgr16 yes
device_color_bgr24 yes
device_color_bgr32 yes
device_color_bgr8 yes
device_color_palette8 yes
device_color_yuy2 yes
device_joystick none
device_keyboard svgalib
device_mouse raw 
# device_raw_firstkeyhack no
device_raw_mousetype[0] ps2
device_raw_mousedev[0] /dev/input/mouse2
device_raw_mousetype[1] ps2
device_raw_mousedev[1] /dev/input/mouse0
device_raw_mousedev[2] auto
device_raw_mousedev[3] auto
device_raw_mousetype[2] pnp
device_raw_mousetype[3] pnp
device_sound auto
device_video svgalib

# pal
# format H 0.8125 0.0257812 0.0734375 0.0882813
# format V 0.9232 0.0096 0.0096 0.0576
# fixed horz clock 15625
# fixed vert clock 50

# VGA text modes
device_video_modeline pal_vga_text40_8x8 12.5938 320 508 568 806 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_vga_text40_9x8 12.5938 360 528 588 806 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_vga_text80_8x8 12.5938 640 668 728 806 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_vga_text80_9x8 14.1562 720 752 818 906 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]

# SVGA best fit modes
device_video_modeline pal_384x288 7.375 384 392 432 472 288 291 294 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_768x288 14.75 768 784 864 944 288 291 294 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_768x576 14.75 768 784 864 944 576 582 588 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]

# SVGA standard size modes
device_video_modeline pal_320x240 6.125 320 328 360 392 240 267 270 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_400x300 7.75 400 416 456 496 300 444 450 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_512x384 9.875 512 528 576 632 384 486 492 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_640x480 12.25 640 656 712 784 480 534 540 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_256x224 4.875 256 264 288 312 224 259 262 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_256x240 4.875 256 264 288 312 240 267 270 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_320x224 6.125 320 328 360 392 224 259 262 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_512x448 9.875 512 528 576 632 448 518 524 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_512x480 9.875 512 528 576 632 480 534 540 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_640x448 12.25 640 656 712 784 448 518 524 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_640x512 12.25 640 656 712 784 512 550 556 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x448 13.875 720 744 808 888 448 518 524 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x480 13.875 720 744 808 888 480 534 540 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x512 13.875 720 744 808 888 512 550 556 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x576 13.875 720 744 808 888 576 582 588 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]


device_video_cursor auto
device_video_doublescan yes
device_video_fastchange yes
device_video_interlace yes
device_video_output fullscreen
device_video_singlescan yes
dir_artwork /root/.advance/artwork:/servers/mame/share/advance/artwork
dir_diff /root/.advance/diff
dir_hi /root/.advance/hi
dir_image /root/.advance/image:/servers/mame/share/advance/image
dir_inp /root/.advance/inp
dir_memcard /root/.advance/memcard
dir_nvram /root/.advance/nvram
dir_rom /servers/roms
dir_sample /root/.advance/sample:/servers/mame/share/advance/sample
dir_snap /root/.advance/snap
dir_sta /root/.advance/sta
display_adjust none
display_antialias yes
display_artwork_backdrop yes
display_artwork_bezel no
display_artwork_crop yes
display_artwork_overlay yes
display_aspectx 4
display_aspecty 3
display_beam 1
display_brightness 1
display_buffer no
display_color auto
display_expand 1
display_flicker 0
display_flipx no
display_flipy no
display_frameskip auto
display_gamma 1
display_intensity 1.5
display_interlaceeffect none
display_magnify 1
display_mode auto
display_pausebrightness 1
display_resize mixed
display_resizeeffect auto
display_restore yes
display_rgbeffect none
display_rol no
display_ror no
display_scanlines no
display_skipcolumns auto
display_skiplines auto
display_translucency yes
display_vsync yes
include 
input_hotkey yes
input_map[coin5] auto
input_map[coin6] auto
input_map[coin7] auto
input_map[coin8] auto
input_map[event10] auto
input_map[event11] auto
input_map[event12] auto
input_map[event13] auto
input_map[event14] auto
input_map[event1] auto
input_map[event2] auto
input_map[event3] auto
input_map[event4] auto
input_map[event5] auto
input_map[event6] auto
input_map[event7] auto
input_map[event8] auto
input_map[event9] auto
input_map[p1_lightgunx] auto
input_map[p1_lightguny] auto
input_map[p1_mousex] auto
input_map[p1_mousey] auto
input_map[p1_paddlex] auto 
input_map[p1_dialx] auto
input_map[p1_dialy] auto
input_map[p1_trackballx] auto
input_map[p1_trackbally] auto
input_map[p1_paddley] auto
input_map[p1_pedalbrake] auto
input_map[p1_pedalgas] auto
input_map[p1_pedalother] auto
input_map[p1_stickx] auto
input_map[p1_sticky] auto
input_map[p1_stickz] auto
input_map[p2_dialx] auto
input_map[p2_dialy] auto
input_map[p2_lightgunx] auto
input_map[p2_lightguny] auto
input_map[p2_mousex] auto
input_map[p2_mousey] auto
input_map[p2_paddlex] auto
input_map[p2_paddley] auto
input_map[p2_pedalbrake] auto
input_map[p2_pedalgas] auto
input_map[p2_pedalother] auto
input_map[p2_stickx] auto
input_map[p2_sticky] auto
input_map[p2_stickz] auto
input_map[p2_trackballx] auto
input_map[p2_trackbally] auto
input_map[p3_dialx] auto
input_map[p3_dialy] auto
input_map[p3_lightgunx] auto
input_map[p3_lightguny] auto
input_map[p3_mahjong_a] auto
input_map[p3_mahjong_b] auto
input_map[p3_mahjong_bet] auto
input_map[p3_mahjong_c] auto
input_map[p3_mahjong_chance] auto
input_map[p3_mahjong_chi] auto
input_map[p3_mahjong_d] auto
input_map[p3_mahjong_double_up] auto
input_map[p3_mahjong_e] auto
input_map[p3_mahjong_f] auto
input_map[p3_mahjong_flip_flop] auto
input_map[p3_mahjong_g] auto
input_map[p3_mahjong_h] auto
input_map[p3_mahjong_i] auto
input_map[p3_mahjong_j] auto
input_map[p3_mahjong_k] auto
input_map[p3_mahjong_kan] auto
input_map[p3_mahjong_l] auto
input_map[p3_mahjong_m] auto
input_map[p3_mahjong_n] auto
input_map[p3_mahjong_pon] auto
input_map[p3_mahjong_reach] auto
input_map[p3_mahjong_ron] auto
input_map[p3_mahjong_score] auto
input_map[p3_mousex] auto
input_map[p3_mousey] auto
input_map[p3_paddlex] auto
input_map[p3_paddley] auto
input_map[p3_pedalbrake] auto
input_map[p3_pedalgas] auto
input_map[p3_pedalother] auto
input_map[p3_stickx] auto
input_map[p3_sticky] auto
input_map[p3_stickz] auto
input_map[p3_trackballx] auto
input_map[p3_trackbally] auto
input_map[p4_dialx] auto
input_map[p4_dialy] auto
input_map[p4_lightgunx] auto
input_map[p4_lightguny] auto
input_map[p4_mahjong_a] auto
input_map[p4_mahjong_b] auto
input_map[p4_mahjong_bet] auto
input_map[p4_mahjong_c] auto
input_map[p4_mahjong_chance] auto
input_map[p4_mahjong_chi] auto
input_map[p4_mahjong_d] auto
input_map[p4_mahjong_double_up] auto
input_map[p4_mahjong_e] auto
input_map[p4_mahjong_f] auto
input_map[p4_mahjong_flip_flop] auto
input_map[p4_mahjong_g] auto
input_map[p4_mahjong_h] auto
input_map[p4_mahjong_i] auto
input_map[p4_mahjong_j] auto
input_map[p4_mahjong_k] auto
input_map[p4_mahjong_kan] auto
input_map[p4_mahjong_l] auto
input_map[p4_mahjong_m] auto
input_map[p4_mahjong_n] auto
input_map[p4_mahjong_pon] auto
input_map[p4_mahjong_reach] auto
input_map[p4_mahjong_ron] auto
input_map[p4_mahjong_score] auto
input_map[p4_mousex] auto
input_map[p4_mousey] auto
input_map[p4_paddlex] auto
input_map[p4_paddley] auto
input_map[p4_pedalbrake] auto
input_map[p4_pedalgas] auto
input_map[p4_pedalother] auto
input_map[p4_stickx] auto
input_map[p4_sticky] auto
input_map[p4_stickz] auto
input_map[p4_trackballx] auto
input_map[p4_trackbally] auto
input_map[safequit] auto
input_map[service_coin5] auto
input_map[service_coin6] auto
input_map[service_coin7] auto
input_map[service_coin8] auto
input_map[ui_toggle_ui] auto
input_steadykey no
lcd_server none
lcd_speed 4
lcd_timeout 500
misc_bios default
misc_cheat no
misc_cheatfile cheat.dat
misc_difficulty none
misc_eventdebug no
misc_eventfile event.dat
misc_freeplay no
misc_hiscorefile hiscore.dat
misc_lang none
misc_languagefile english.lng
misc_mutedemo no
misc_quiet yes
misc_safequit no
misc_smp no
misc_timetorun 0
record_sound yes
record_sound_time 15
record_video yes
record_video_interleave 2
record_video_time 15
script_coin1 
script_coin2 
script_coin3 
script_coin4 
script_emulation 
script_event1 
script_event10 
script_event11 
script_event12 
script_event13 
script_event14 
script_event2 
script_event3 
script_event4 
script_event5 
script_event6 
script_event7 
script_event8 
script_event9 
script_led1 on(kdb, 0b1); wait(!event()); off(kdb, 0b1);
script_led2 on(kdb, 0b10); wait(!event()); off(kdb, 0b10);
script_led3 
script_play 
script_safequit 
script_start1 
script_start2 
script_start3 
script_start4 
script_turbo while (event()) { toggle(kdb, 0b100); delay(100); } off(kdb, 0b100);
script_video wait(!event()); set(kdb, 0);
sound_adjust auto
sound_equalizer_highvolume 0
sound_equalizer_lowvolume 0
sound_equalizer_midvolume 0
sound_latency 0.05
sound_mode auto
sound_normalize yes
sound_samplerate 44100
sound_samples yes
sound_volume 0
sync_fps auto
sync_resample auto
sync_speed 1
sync_startuptime auto
sync_turbospeed 3
ui_color[help_other] 000000 808080
ui_color[help_p1] 000000 ffff00
ui_color[help_p2] 000000 00ff00
ui_color[help_p3] 000000 ff0000
ui_color[help_p4] 000000 00ffff
ui_color[interface] 000000 ffffff
ui_color[select] 000000 afffff
ui_color[tag] 247ef0 ffffff
ui_font auto
ui_fontsize auto
ui_helpimage auto
ui_translucency 0.8
input_idleexit 1800
device_video_clock 5-50 / 15.62 / 50
pbaction/input_map[p1_button3] keyboard[0,a]
pbaction/input_map[p1_button4] keyboard[0,s]
pbaction/input_map[p1_button1] keyboard[0,lshift]
pbaction/input_map[p1_button2] keyboard[0,w]
spbactn/input_map[p1_button1] keyboard[0,lshift]
spbactn/input_map[p1_button3] keyboard[0,s]
spbactn/input_map[p1_button2] keyboard[0,w]
outrun/input_setting[p1_paddlex] keydelta:20,centerdelta:20,sensitivity:100,reverse:0
outrun1/input_setting[p1_paddlex] keydelta:20,centerdelta:20,sensitivity:100,reverse:0
input_map[ui_on_screen_display] 
3wonders/display_mode pal_320x240
3wonders/display_resizeeffect none
3wonders/display_resize fractional
outrun/display_mode pal_320x240
crusnwld/input_map[p1_paddle_left] keyboard[0,enter]
shangupb/input_setting[p1_pedalgas] keydelta:20,centerdelta:60,sensitivity:100,reverse:0
tenkomoj/display_mode pal_384x288
tondemo/display_resize none
tondemo/display_magnify 2
popeyebl/display_resize fractional
popeyebl/display_magnify 4
outrun/sound_equalizer_lowvolume 8
outrun/sound_equalizer_midvolume 4
outrunb/display_mode pal_384x288
outrunb/display_resizeeffect none
outrunb/display_resize none
pbaction/display_mode pal_384x288
marble/input_setting[p1_trackballx] keydelta:30,centerdelta:30,sensitivity:100,reverse:1
marble/input_setting[p1_trackbally] keydelta:30,centerdelta:30,sensitivity:100,reverse:0
marble/input_setting[p2_trackballx] keydelta:30,centerdelta:30,sensitivity:100,reverse:1
marble/input_setting[p2_trackbally] keydelta:30,centerdelta:30,sensitivity:100,reverse:0
tehkanwc/input_setting[p1_trackballx] keydelta:100,centerdelta:30,sensitivity:255,reverse:0
tehkanwc/input_setting[p1_trackbally] keydelta:100,centerdelta:30,sensitivity:255,reverse:0
tehkanwc/input_map[p1_trackballx] mouse[1,0]
tehkanwc/input_map[p1_trackbally] mouse[1,1]
outrunb/input_setting[p1_paddlex] keydelta:20,centerdelta:20,sensitivity:100,reverse:0
arkangc/input_setting[p1_dialx] keydelta:15,centerdelta:15,sensitivity:20,reverse:0
arkangc/input_setting[p2_dialx] keydelta:15,centerdelta:15,sensitivity:20,reverse:0
outrun/display_color yuy2
input_map[ui_up] keyboard[0,enter]
input_map[ui_toggle_cheat] keyboard[0,down]
