device_joystick none
device_keyboard svgalib
emulator "advmame" advmame "advmame" ""
emulator "uae" generic "/servers/uae/start.sh" "%f"
emulator "c64" generic "/servers/vice/start.sh" "%f"
device_video svgalib
ui_font /servers/mame/fonts/iso01a-8x8.psf
lock no
sound_volume -40
sound_background_begin none
sound_background_end none
sound_background_start none
sound_background_stop none
sound_background_loop none

# UAE stuff

emulator_roms "uae" "/servers/uae/games"
emulator_roms_filter "uae" ""
emulator_flyers "uae" "/servers/uae/fly"
emulator_cabinets "uae" "/servers/uae/cab"
emulator_marquees "uae" "/servers/uae/mar"
emulator_altss "uae" "/servers/uae/snap"
uae/preview snap
uae/sort name

# C64 stuff

emulator_roms "c64" "/servers/vice/roms"
emulator_roms_filter "c64" ""
emulator_flyers "c64" "/servers/vice/fly"
emulator_cabinets "c64" "/servers/vice/cab"
emulator_marquees "c64" "/servers/vice/mar"
emulator_altss "c64" "/servers/vice/snap"
c64/preview snap
c64/sort name
c64/mode list

# pal
# format H 0.8125 0.0257812 0.0734375 0.0882813
# format V 0.9232 0.0096 0.0096 0.0576
# fixed horz clock 15625
# fixed vert clock 50

# VGA text modes
device_video_modeline pal_vga_text40_8x8 12.5938 320 508 568 806 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_vga_text40_9x8 12.5938 360 528 588 806 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_vga_text80_8x8 12.5938 640 668 728 806 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_vga_text80_9x8 14.1562 720 752 818 906 200 247 250 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]

# SVGA best fit modes
device_video_modeline pal_384x288 7.375 384 392 432 472 288 291 294 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_768x288 14.75 768 784 864 944 288 291 294 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_768x576 14.75 768 784 864 944 576 582 588 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]

# SVGA standard size modes
device_video_modeline pal_320x240 6.125 320 328 360 392 240 267 270 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_400x300 7.75 400 416 456 496 300 444 450 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_512x384 9.875 512 528 576 632 384 486 492 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_640x480 12.25 640 656 712 784 480 534 540 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_256x224 4.875 256 264 288 312 224 259 262 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_256x240 4.875 256 264 288 312 240 267 270 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_320x224 6.125 320 328 360 392 224 259 262 312 -hsync -vsync # H 15625 [Hz], V 50.0801 [Hz]
device_video_modeline pal_512x448 9.875 512 528 576 632 448 518 524 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_512x480 9.875 512 528 576 632 480 534 540 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_640x448 12.25 640 656 712 784 448 518 524 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_640x512 12.25 640 656 712 784 512 550 556 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x448 13.875 720 744 808 888 448 518 524 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x480 13.875 720 744 808 888 480 534 540 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x512 13.875 720 744 808 888 512 550 556 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]
device_video_modeline pal_720x576 13.875 720 744 808 888 576 582 588 625 -hsync -vsync interlace # H 15625 [Hz], V 50 [Hz]

event_assign down down or 2_pad
event_assign left left or 4_pad
event_assign right right or 6_pad
event_assign enter 1
event_assign home home
event_assign mode 2
event_assign end end
event_assign pgup pgup
event_assign pgdn pgdn
event_assign menu lshift

ui_color help 000000 ffffff
ui_color help_tag 247ef0 ffffff
ui_color submenu_bar 247ef0 ffffff
ui_color submenu_item 000000 ffffff
ui_color submenu_item_select 000000 afffff
ui_color submenu_hidden 808080 ffffff
ui_color submenu_hidden_select 808080 afffff
ui_color menu_item 000000 ffffff
ui_color menu_hidden 808080 ffffff
ui_color menu_tag 247ef0 ffffff
ui_color menu_item_select 000000 afffff
ui_color menu_hidden_select 808080 afffff
ui_color menu_tag_select 247ef0 afffff
ui_color bar 000000 ffffff
ui_color bar_tag 247ef0 ffffff
ui_color bar_hidden 808080 ffffff
ui_color grid 247ef0 ffffff
ui_color backdrop 000000 808080
ui_color icon ffffff ffffff
ui_color cursor 808080 ffffff
ui_skiptop 13
ui_skipbottom 13
ui_skipleft 30
ui_skipright 30
mode list
sort group
preview snap
menu_base 0
menu_rel 14
difficulty none
display_orientation 
device_video_clock 5-50 / 15.62 / 50
ui_command "Shutdown" halt
ui_command "Reset" reboot
ui_menukey yes
merge any
group_import ini "advmame" "/servers/mame/config/catver.ini" "Category"
type_import ini "advmame" "/servers/mame/config/catver.ini"
desc_import ini "advmame" "/servers/mame/config/catver.ini"
info_import ini "advmame" "/servers/mame/config/catver.ini" "VerAdded"
advmame/preview snap
advmame/sort name
advmame/mode list
group_include "<undefined>"
group_include "Amiga"
group_include "Arcade"
group_include "C64"
type_include "<undefined>"
emulator_include "advmame"
emulator_include "uae"
emulator_include "c64"
group "<undefined>"
group "Amiga"
group "Arcade"
group "Ball & Paddle"
group "BIOS"
group "Breakout"
group "Breakout *Mature*"
group "C64"
group "Casino"
group "Casino *Mature*"
group "Climbing"
group "Driving"
group "Driving / 1st Person"
group "Driving / Boat"
group "Driving / Race"
group "Driving / Race (chase view)"
group "Driving / Race (chase view) Bike"
group "Driving / Race 1st P Bike"
group "Driving / Race 1st Person"
group "Driving / Race Bike"
group "Driving / Race Track"
group "Fighter / 2.5D"
group "Fighter / 2D"
group "Fighter / 3D"
group "Fighter / Field"
group "Fighter / Misc."
group "Fighter / Multiplay"
group "Fighter / Versus"
group "Fighter / Versus *Mature*"
group "Fighter / Versus Co-op"
group "Fighter / Vertical"
group "Maze"
group "Maze *Mature*"
group "Maze / Digging"
group "Maze / Digging *Mature*"
group "Maze / Driving"
group "Maze / Fighter"
group "Maze / Outline"
group "Maze / Outline *Mature*"
group "Maze / Shooter Large"
group "Maze / Shooter Small"
group "Maze / Shooter Small *Mature*"
group "Maze / Surround"
group "Mini-Games"
group "Misc."
group "Misc. *Mature*"
group "Misc. Betting"
group "Misc. Betting *Mature*"
group "Multiplay"
group "Multiplay *Mature*"
group "Pinball"
group "Pinball *Mature*"
group "Pinball / Pachinko *Mature*"
group "Platform / Fighter"
group "Platform / Fighter Scrolling"
group "Platform / Run Jump"
group "Platform / Run Jump *Mature*"
group "Platform / Run Jump Scrolling"
group "Platform / Shooter"
group "Platform / Shooter Scrolling"
group "Puzzle"
group "Puzzle *Mature*"
group "Puzzle / Cards"
group "Puzzle / Cards *Mature*"
group "Puzzle / Drop"
group "Puzzle / Drop *Mature*"
group "Puzzle / Match"
group "Puzzle / Match *Mature*"
group "Puzzle / Maze"
group "Puzzle / Outline"
group "Puzzle / Outline *Mature*"
group "Puzzle / Sliding"
group "Puzzle / Sliding *Mature*"
group "Puzzle / Toss"
group "Puzzle / Toss *Mature*"
group "Quiz / Chinese"
group "Quiz / English"
group "Quiz / English *Mature*"
group "Quiz / French"
group "Quiz / Italian"
group "Quiz / Japanese"
group "Quiz / Japanese *Mature*"
group "Quiz / Music English"
group "Quiz / Music Japanese"
group "Rhythm"
group "Shooter / 1st Person"
group "Shooter / 3rd Person"
group "Shooter / Command"
group "Shooter / Driving"
group "Shooter / Driving (chase view)"
group "Shooter / Driving 1st Person"
group "Shooter / Driving Diagonal"
group "Shooter / Driving Horizontal"
group "Shooter / Driving Vertical"
group "Shooter / Field"
group "Shooter / Field *Mature*"
group "Shooter / Flying"
group "Shooter / Flying (chase view)"
group "Shooter / Flying 1st Person"
group "Shooter / Flying Diagonal"
group "Shooter / Flying Horizontal"
group "Shooter / Flying Horizontal *Mature*"
group "Shooter / Flying Vertical"
group "Shooter / Flying Vertical *Mature*"
group "Shooter / Gallery"
group "Shooter / Gallery *Mature*"
group "Shooter / Gun"
group "Shooter / Misc."
group "Shooter / Misc. Horizontal"
group "Shooter / Misc. Vertical"
group "Shooter / Versus"
group "Shooter / Walking"
group "Sports"
group "Sports / Armwrestling"
group "Sports / Baseball"
group "Sports / Basketball"
group "Sports / Bowling"
group "Sports / Boxing"
group "Sports / Bull Fighting"
group "Sports / Darts"
group "Sports / Dodgeball"
group "Sports / Fishing"
group "Sports / Football Amer."
group "Sports / Football Rugby"
group "Sports / Golf"
group "Sports / Hang Gliding"
group "Sports / Hockey"
group "Sports / Horse Racing"
group "Sports / Horseshoes"
group "Sports / Multiplay"
group "Sports / Pool"
group "Sports / Pool *Mature*"
group "Sports / Shuffleboard"
group "Sports / Skateboarding"
group "Sports / Skiing"
group "Sports / SkyDiving"
group "Sports / Soccer"
group "Sports / Sumo"
group "Sports / Swimming"
group "Sports / Tennis"
group "Sports / Track & Field"
group "Sports / Volleyball"
group "Tabletop"
group "Tabletop *Mature*"
group "Tabletop / Hanafuda"
group "Tabletop / Hanafuda *Mature*"
group "Tabletop / Mahjong"
group "Tabletop / Mahjong *Mature*"
group "Tabletop / Othello"
group "Tabletop / Othello *Mature*"
group "Tabletop / Renju"
group "Tabletop / Shougi"
group "Unplayable"
group "Wrestling"
type "<undefined>"
emulator_attrib "advmame" missing exclude
emulator_attrib "advmame" clone exclude
emulator_attrib "advmame" bad exclude
emulator_attrib "advmame" vector include
emulator_attrib "advmame" vertical include
emulator_attrib "advmame" neogeo include
emulator_attrib "advmame" deco exclude
emulator_attrib "advmame" playchoice exclude
emulator_attrib "uae" missing exclude
emulator_attrib "c64" missing exclude
game "advmame/1943" "Arcade" "" 4106 5 ""
game "advmame/720r3" "Arcade" "" 0 0 ""
game "advmame/arkanoid" "Arcade" "" 5277 13 ""
game "advmame/atetris" "Arcade" "" 559 2 ""
game "advmame/bublbobl" "Arcade" "" 12406 19 ""
game "advmame/cabal" "Arcade" "" 424 3 ""
game "advmame/galaga" "Arcade" "" 468 4 ""
game "advmame/galaga3" "Arcade" "" 433 3 ""
game "advmame/gemini" "Arcade" "" 725 2 ""
game "advmame/gng" "Arcade" "" 7552 15 ""
game "advmame/gtmra" "Arcade" "" 3716 8 ""
game "advmame/mooncrsg" "Arcade" "" 465 3 ""
game "advmame/mpatrolw" "Arcade" "" 1539 5 ""
game "advmame/outrun" "Arcade" "" 93683 160 ""
game "advmame/pacland" "Arcade" "" 6305 12 ""
game "advmame/pang" "Arcade" "" 2535 4 ""
game "advmame/pbactio2" "Arcade" "" 0 2 ""
game "advmame/pbaction" "Arcade" "" 76231 53 ""
game "advmame/pbobble" "Arcade" "" 10989 11 ""
game "advmame/pbobblen" "Arcade" "" 857 4 ""
game "advmame/pcktgal" "Arcade" "" 9541 11 ""
game "advmame/rainbow" "Arcade" "" 30099 18 ""
game "advmame/rtype" "Arcade" "" 2889 4 ""
game "advmame/rtype2" "Arcade" "" 1655 6 ""
game "advmame/sboblbob" "Arcade" "" 28532 32 ""
game "advmame/shdancer" "Arcade" "" 6448 12 ""
game "advmame/shinobi" "Arcade" "" 12518 18 ""
game "advmame/sidearms" "Arcade" "" 1171 1 ""
game "advmame/starforc" "Arcade" "" 3585 6 ""
game "advmame/starfore" "Arcade" "" 957 2 ""
game "advmame/tehkanwc" "Arcade" "" 15377 32 ""
game "advmame/terracra" "Arcade" "" 571 3 ""
game "advmame/yiear2" "Arcade" "" 400 2 ""
game "c64/1942" "C64" "" 7571 0 "1942"
game "c64/bubble_bobble" "C64" "" 1888 0 "Bubble Bobble"
game "c64/giana_sisters" "C64" "" 806 0 "The Great Giana Sisters"
game "uae/bubblebob" "Amiga" "" 3984 0 "Bubble Bobble"
game "uae/chaosengine2" "Amiga" "" 636 0 "Chaos Engine 2"
game "uae/deluxepacman" "Amiga" "" 6384 0 "Deluxe Pacman"
game "uae/flashback" "Amiga" "" 6111 0 "Flashback"
game "uae/pbdreams" "Amiga" "" 17459 0 "Pinball Dreams"
game "uae/pbfantasies" "Amiga" "" 23226 0 "Pinball Fantasies"
game "uae/projectx" "Amiga" "" 6717 0 "Project X"
game "uae/superfrog" "Amiga" "" 7667 0 "Superfrog"
game "uae/turrican" "Amiga" "" 4331 0 "Turrican"
game "uae/turrican2" "Amiga" "" 4359 0 "Turrican 2"
game "uae/turrican3" "Amiga" "" 6101 0 "Turrican 3"
game "uae/worms" "Amiga" "" 7023 0 "Worms"
