#
# uaerc options
#
# more at: https://github.com/GnoStiC/PUAE/blob/master/docs/configuration.txt
# 

kickshifter=false
chipmem_size=4
fastmem_size=8
bogomem_size=0
z3mem_size=0
gfxcard_size=0
log_illegal_mem=false
cpu_type=68020
cpu_24bit_addressing=false
cpu_compatible=false
cpu_cycle_exact=false
cpu_speed=real
cachesize=0
chipset=aga
x86.use_tsc=true
collision_level=none
# show_leds=true
sound_latency=600

# see https://raw.github.com/celso/arcade/master/docs/amigalayout.png
# button2 jumps too
arcade_p1_button2 76
