#
# uaerc options
#
# more at: https://github.com/GnoStiC/PUAE/blob/master/docs/configuration.txt
# 

cpu_type=68020
cpu_speed=real
cachesize=8192
chipset=ecs
chipmem_size=4
bogomem_size=0
# pinball dont use joysticks, turn them off
joyport0=none
joyport1=none

# see https://raw.github.com/celso/arcade/master/docs/amigalayout.png
# pads, left and right amiga keys
arcade_lbutton 102
arcade_rbutton 103
# spring down
arcade_p2_button1 77
# f1 to f4 to select game and number of players
arcade_p1_button1 80
arcade_p1_button2 81
arcade_p1_button3 82
arcade_p1_button4 83
# tilt
arcade_p2_button2 64
